!!!
%html{ :lang => "es"}
  %head
    %title ArriateQR Admin
    %meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
    %link(rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css")
  %body
    %div.container
      %h2 ArriateQR Admin
      = yield
      %hr
      %div
        %p Territorio Hackathon, Arriate 2015 NextSun